<div class='row'>
  <%= form_for(@search ||= Search.new, class: 'col s12') do |f| %>
    <% if @search.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

        <ul>
        <% @search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%=f.fields_for :origin do |fo| %>
      <div class="row">
        <div class="input-field col s12">
          <%= fo.label :origin %><br>
          <%= fo.text_field :address, value: @search.origin.address, class: 'autocomplete', required: true %>
          <%= fo.hidden_field :lat, value: @search.origin.lat %>
          <%= fo.hidden_field :lng, value: @search.origin.lng %>
        </div>
      </div>
    <%end%>
    <%@locations.each_with_index do |location,index| %>
      <%=f.fields_for :locations, location do |ff|%>
        <div class="row waypoints_for_search">
          <div class="input-field col s12">
            <%= ff.label "waypoint_#{index+1} (optional)" %><br>
            <%= ff.text_field :address, class: 'autocomplete'%>
            <%= ff.hidden_field :lat %>
            <%= ff.hidden_field :lng %>
          </div>
        </div>
      <%end%>
    <%end%>
   <button type='button' class='show_another_location btn'>Add A Waypoint</button>
   <%=f.fields_for :destination do |fd| %>
     <div class="row">
       <div class="input-field col s12">
         <%= fd.label :destination %><br>
         <%= fd.text_field :address, value: @search.destination.address, class: 'autocomplete', required: true %>
         <%= fd.hidden_field :lat, value: @search.destination.lat %>
         <%= fd.hidden_field :lng, value: @search.destination.lng %>
       </div>
     </div>
   <%end%>
    <div class="row" onload='converter()'>
      <div class="input-field col s6">
        <%= f.label :distance_traveled_in_meters %><br>
        <%= f.text_field :distance_traveled %>
      </div>
      <div class="input-field col s6">
        <%= label_tag :distance_traveled_in_miles %> <br>
        <%= text_field_tag :distance_in_miles %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.check_box :optimize %>
        <%= f.label :optimize %><br>
        <span class='warning'>Clicking this will rearrange to the most efficient route, leaving the only the origin and destination as is</span>
      </div>

    </div>


    <div class="actions">
      <%= f.submit class: "btn purple darken-4" %>
    </div>
  <% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?&key=<%=Rails.application.secrets.gmaps_key%>&libraries=places&callback=initAutocomplete" async defer></script>
<script src='/javascripts/autocomplete.js'></script>
