<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address_1 %><br>
    <%= f.text_field :address_1 %>
  </div>
  <div class="field">
    <%= f.label :address_2 %><br>
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.hidden_field :lat1 %>
  </div>
  <div class="field">
    <%= f.hidden_field :lng1 %>
  </div>
  <div class="field">
    <%= f.hidden_field :lat2 %>
  </div>
  <div class="field">
    <%= f.hidden_field :lng2 %>
  </div>
  <div class="field" onload='converter()'>
    <%= f.label :distance_traveled_in_meters %> | <%= f.label :distance_traveled_in_meters %><br> 
    <%= f.text_field :distance_traveled %> | <%= text_field_tag :distance_in_miles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?&libraries=places"></script>
<script src='/javascripts/autocomplete.js'></script>