<p id="notice"><%= notice %></p>

<h1>Search History</h1>

<button id='show_button' class='waves-effect waves-light btn deep-orange darken-4'>Show Search Form</button>
<div id='form_on_index'>
  <%= render partial: 'searches/form' %>
</div>

<%= will_paginate @searches%>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Address 1</th>
      <th>Lat1</th>
      <th>Lng1</th>
      <th>Address 2</th>
      <th>Lat2</th>
      <th>Lng2</th>
      <th>Distance traveled</th>
      <th colspan="3" class='center'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.id %></td>
        <td><%= search.address_1 %></td>
        <td><%= search.lat1 %></td>
        <td><%= search.lng1 %></td>
        <td><%= search.address_2 %></td>
        <td><%= search.lat2 %></td>
        <td><%= search.lng2 %></td>
        <td><%= search.distance_traveled %></td>
        <td><%= link_to 'Show', search, class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Edit', edit_search_path(search), class: "waves-effect waves-light btn orange" %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @searches%>
