<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col 8'>
    <h1>Search History</h1>
  </div>
  <div class='col 4'>
    <%=form_tag '/', method: "get" do %>
      <div class="input-field">
        <%= text_field_tag :location, params[:location] %>
        <%= label_tag :location, "Search For City" %>
      </div>
      <%= submit_tag "Search", class: 'btn blue-grey darken-2'%>
      <%=link_to "All Searches",root_path, class: "waves-effect waves-light btn  light-blue darken-4"%>
    <%end%>
  </div>
</div>
<% if @subtitle %>
  <h2><%=@subtitle%></h2>
<%end%>


<%=link_to "New Search", new_search_path, class: "waves-effect waves-light btn purple darken-4" %>

<%= will_paginate @searches%>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Locations Tapped</th>
      <th>Distance traveled</th>
      <th>Optimized?</th>
      <th colspan="3" class='center'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.id %></td>
        <td>
          <ul>
            <% search.locations.each do |location| %>
              <li>
                <%=location.address%>
              </li>
            <%end%>
          </ul>
        </td>
        <td><%= search.distance_traveled %></td>
        <td><%= search.optimize %></td>
        <td><%= link_to 'Show', search, class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Edit', edit_search_path(search), class: "waves-effect waves-light btn orange" %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @searches%>
