<div id="hud">
  <p>
    Start: <%=@search.origin.address%>
  </p>
  <p>
    End: <%=@search.destination.address%>
  <p>
  <p>
    Total Distance: <span id='distance_placeholder'></span> meters | <span id='distance_placeholder_2'></span>
  </p>
  <p>
    Distance To Travel: <span id='distance_to_travel'></span> meters | <span id='distance_to_travel_2'></span>
  </p>
  <% if @search.distance_traveled.present? %>
    <p>Distance Traveled: <%=@search.distance_traveled_neat%> meters | <%=@search.distance_traveled_miles_neat%> miles<p>
  <% else %>
    <p>No Distance Provided In Search</p>
  <%end%>
  <p>
    Total Trip Time: <span id='duration'></span> Hours
  </p>
  <%= link_to 'Edit Search', edit_search_path(@search), class: "waves-effect waves-light btn" %>
  <%= link_to 'New Search', new_search_path, class:"btn waves-effect waves-light modal-trigger grey" %>
  <%= link_to 'All Searches', root_path, class: "waves-effect waves-light btn purple" %>
</div>



<div id="map"></div>
<script>
  search = <%=raw @search.to_json%>;
  searchOrigin = <%=raw @search.origin.to_json%>
  searchDestination = <%=raw @search.destination.to_json%>
  searchWaypoints = <%=raw @search.locations.to_json%>;
  distance = search.distance_traveled;
  optimize = search.optimize;
</script>
<script src='/javascripts/map.js'></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.gmaps_key%>&library=geometry,places&callback=initMap"></script>
