<div id="floating-panel">
<b>Start: <%=@search.address_1%></b><br>
<b>End: <%=@search.address_2%></b><br>
<b>Distance Traveled: <%=@search.distance_traveled%> Meters</b><br>
<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
</div>
<div id="map"></div>
<script src='/javascripts/map.js'></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?&library=geometry,places&callback=initMap">
</script>