<script src='/javascripts/script.js'></script>
<div style='display:none'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Address 1:</strong>
    <span id='start'><%= @search.address_1 %></span>
  </p>

  <p>
    <strong>Address 2:</strong>
    <span id='end'><%= @search.address_2 %></span>
  </p>

  <p>
    <strong>Lat1:</strong>
    <span id='search_lat1'><%= @search.lat1 %></span>
  </p>

  <p>
    <strong>Lng1:</strong>
    <span id='search_lng1'><%= @search.lng1 %></span>
  </p>

  <p>
    <strong>Lat2:</strong>
    <span id='search_lat2'><%= @search.lat2 %></span>
  </p>

  <p>
    <strong>Lng2:</strong>
    <span id='search_lng2'><%= @search.lng2 %></span>
  </p>

  <p>
    <strong>Distance traveled:</strong>
    <span id='distance'><%= @search.distance_traveled %></span>
</p>
</div>


<div id="floating-panel">
<b>Start: <%=@search.address_1%></b>
<b>End: <%=@search.address_2%></b>
<b>Distance Traveled: <%=@search.distance_traveled%> Meters</b>
<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
</div>
<div id="map"></div>
<script src='/javascripts/script.js'></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?&library=geometry,places&callback=initMap">
</script>